<label for="form-control">Enter Server name:</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="serverName" >
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>

<!-- <p [innerText]="serverCreationStatus"></p> -->
<p *ngIf="serverCreated; else noserver">Server was created. Server name is {{serverName}} </p>
<ng-template #noserver> <p>No server was created</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>