<button class="btn btn-primary" (click)="toggle()">Display Details</button>
<p *ngIf="display">secret password = tuna</p>
<div >
  <p *ngFor="let item of arr" 
    [ngStyle]="{backgroundColor: item >= 5 ? 'blue' : 'transparent'}" [ngClass]="{'white-text': item >= 5}" >
    <!-- [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent', color: i>= 5 ? 'white' : 'black'}" > -->
    {{item}}
  </p>
</div>
<!-- <p *ngIf="serverCreated; else noserver">Server was created. Server name is {{serverName}} </p> -->
<!-- <ng-template #noserver> <p>No server was created</p></ng-template> -->